@model biblioteca_core_att.Models.Usuario

@{
    ViewData["Title"] = "Biblioteca - Usuários";
    var msg = ViewData["msg"];
}

<div>
    <h3 class="center">Editar Usuário</h3>
    <br />
    @msg
    <br />

    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UsuarioID" />
        <div class="row">
            <div class="col-6">
                <label class="texto"> Nome de Usuário:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label class="texto">CPF:</label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-2">
                <label class="texto">Idade:</label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label class="texto">e-mail:</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <br />

        <input type="submit" value="Confirmar" class="btn btn-outline-primary" />

    </form>
</div>