@model biblioteca_core_att.Models.Livro

@{
    ViewData["Title"] = "Biblioteca - Livro";
    var msg = ViewData["msg"];
}

<div>
    <h3 class="center">Cadastrar Livro</h3>
    <br />
    @msg
    <br />
    <form asp-action="Criar" id="form">
        <div class="row">
            <div class="col-6">
                <label class="texto"> Nome de Livro:</label>
                <input name="nome" asp-for="Nome" class="form-control" placeholder="Insira o nome da obra" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label class="texto">Autor:</label>
                <input name="autor" asp-for="Autor" class="form-control" placeholder="Insira o nome do autor" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-2">
                <label class="texto">Idade:</label>
                <input name="lancamento" asp-for="Lancamento" class="form-control" type="date" />
                <span asp-validation-for="Lancamento" class="text-danger"></span>
            </div>
        </div>

        <br />

        <input type="submit" value="Confirmar" class="btn btn-outline-primary"  onclick="return validarForm('livro')" />

    </form>
</div>